version: 2.1
orbs:
  node: circleci/node@4.1.0
  aws-cli: circleci/aws-cli@1.3.1
jobs:
  build:
    docker:
      - image: "cimg/node:20.19"
    steps:
      - checkout
      - aws-cli/setup:
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
          aws-region: AWS_DEFAULT_REGION
      - run:
          name: Install EB CLI
          command: |
            sudo apt-get update
            sudo apt-get install -y python3-pip python3-dev build-essential
            pip3 install awsebcli --upgrade --user --break-system-packages
            echo 'export PATH=$HOME/.local/bin:$PATH' >> $BASH_ENV
            source $BASH_ENV
      - run:
          name: Front-End Install
          command: |
            npm run frontend:install
      - run:
          name: Back-End Install
          command: |
            cd ./Backend
            npm install --ignore-scripts
      - run:
          name: Front-End Build
          command: |
            npm run frontend:build
      - run:
          name: Back-End Build
          command: |
            npm run backend:build
      - run:
          name: Front-End Tests
          command: |
            npm run frontend:test
      - run:
          name: Deploy Back-End App
          command: |
            cd ./Backend
            eb init $EB_APP_NAME --region $AWS_DEFAULT_REGION --platform node.js
            eb use $EB_ENV_NAME
            eb setenv JWT_SECRET=$JWT_SECRET
            eb setenv PEPPER=$PEPPER
            eb setenv POSTGRES_DB=$POSTGRES_DB
            eb setenv POSTGRES_HOST=$POSTGRES_HOST
            eb setenv POSTGRES_PASSWORD=$POSTGRES_PASSWORD
            eb setenv POSTGRES_PORT=$POSTGRES_PORT
            eb setenv POSTGRES_USER=$POSTGRES_USER
            eb setenv SALT=$SALT
            eb deploy
      - run:
          name: Deploy Front-End App
          command: |
            npm run frontend:deploy

workflows:
  version: 2
  build-deploy:
    jobs:
      - build:
          filters:
            branches:
              only:
                - master
