version: 2.1
orbs:
  node: circleci/node@4.1.0
  aws-cli: circleci/aws-cli@1.3.1
jobs:
  build:
    docker:
      - image: "cimg/node:20.19"
    steps:
      - checkout
      - aws-cli/setup:
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
          aws-region: AWS_DEFAULT_REGION
      - run:
          name: Install EB CLI
          command: |
            sudo apt-get update
            sudo apt-get install -y python3-pip python3-dev build-essential
            pip3 install awsebcli --upgrade --user --break-system-packages
            echo 'export PATH=$HOME/.local/bin:$PATH' >> $BASH_ENV
            source $BASH_ENV
      - run:
          name: Front-End Install
          command: |
            npm run frontend:install
      - run:
          name: Back-End Install
          command: |
            npm run backend:install
      - run:
          name: Front-End Build
          command: |
            npm run frontend:build
      - run:
          name: Back-End Build
          command: |
            npm run backend:build
      - run:
          name: Deploy Frontend App
          command: |
            npm run frontend:deploy
      - run:
          name: Deploy Backend App
          command: |
            cd ./Backend
            eb init $EB_APP_NAME --region $AWS_DEFAULT_REGION --platform node.js
            eb use $EB_ENV_NAME
            eb deploy

